In [19]:
#!pip install mlxtend

In [20]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori, association_rules

In [21]:
data=pd.read_excel("Online retail.xlsx", sheet_name='Sheet1')
data.head()

C:\ProgramData\anaconda3\Lib\site-packages\openpyxl\packaging\core.py:99: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  now = datetime.datetime.utcnow()
C:\ProgramData\anaconda3\Lib\site-packages\openpyxl\packaging\core.py:99: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  now = datetime.datetime.utcnow()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [7]:
# Split each transaction into a list of items and strip any leading/trailing whitespace
data['items'] = data.iloc[:, 0].str.split(',').apply(lambda x: [item.strip() for item in x])

# Ensure each item list contains unique items
data['items'] = data['items'].apply(lambda x: list(set(x)))

data.head()

,"shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil",items
0,"burgers,meatballs,eggs","[burgers, eggs, meatballs]"
1,chutney,[chutney]
2,"turkey,avocado","[turkey, avocado]"
3,"mineral water,milk,energy bar,whole wheat rice...","[whole wheat rice, green tea, milk, mineral wa..."
4,low fat yogurt,[low fat yogurt]

In [9]:
data.shape

(7500, 2)

In [10]:
data.dtypes

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    object
items                                                                                                                                                                                                                              object
dtype: object

# Data Preprocessing

In [11]:
data.isnull().sum()

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    0
items                                                                                                                                                                                                                              0
dtype: int64

In [12]:
# Create a list of all unique items
all_items = list(set(item for sublist in data['items'] for item in sublist))

# One-hot encode the transactions
encoded_data = pd.DataFrame(0, index=data.index, columns=all_items)

# unique is refered as 1 and 0 for non unique
for index, items in data['items'].items():
    encoded_data.loc[index, items] = 1
encoded_data

,frozen vegetables,burgers,tea,herb & pepper,avocado,eggplant,almonds,shallot,strawberries,flax seed,...,cooking oil,pepper,fromage blanc,bug spray,low fat yogurt,brownies,mint green tea,water spray,rice,cauliflower
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7496,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [13]:
# Create a list of all unique items
all_items = list(set(item for sublist in data['items'] for item in sublist))
all_items

['frozen vegetables',
 'burgers',
 'tea',
 'herb & pepper',
 'avocado',
 'eggplant',
 'almonds',
 'shallot',
 'strawberries',
 'flax seed',
 'sandwich',
 'ham',
 'magazines',
 'shampoo',
 'turkey',
 'chili',
 'white wine',
 'green tea',
 'candy bars',
 'fresh bread',
 'mashed potato',
 'chicken',
 'tomato sauce',
 'asparagus',
 'bramble',
 'burger sauce',
 'gluten free bar',
 'hot dogs',
 'zucchini',
 'green grapes',
 'antioxydant juice',
 'cookies',
 'tomatoes',
 'pickles',
 'toothpaste',
 'cream',
 'gums',
 'parmesan cheese',
 'soda',
 'shrimp',
 'pasta',
 'grated cheese',
 'energy drink',
 'carrots',
 'light cream',
 'meatballs',
 'nonfat milk',
 'barbecue sauce',
 'honey',
 'light mayo',
 'energy bar',
 'mayonnaise',
 'fresh tuna',
 'dessert wine',
 'salad',
 'pancakes',
 'milk',
 'cake',
 'chocolate',
 'hand protein bar',
 'salmon',
 'black tea',
 'mint',
 'oil',
 'chutney',
 'sparkling water',
 'corn',
 'spaghetti',
 'mineral water',
 'yams',
 'clothes accessories',
 'cider',
 'pet food',
 'french wine',
 'whole weat flour',
 'frozen smoothie',
 'vegetables mix',
 'ketchup',
 'blueberries',
 'chocolate bread',
 'whole wheat pasta',
 'strong cheese',
 'babies food',
 'whole wheat rice',
 'red wine',
 'soup',
 'muffins',
 'tomato juice',
 'oatmeal',
 'protein bar',
 'salt',
 'spinach',
 'bacon',
 'escalope',
 'green beans',
 'extra dark chocolate',
 'butter',
 'cereals',
 'melons',
 'cottage cheese',
 'mushroom cream sauce',
 'eggs',
 'olive oil',
 'ground beef',
 'champagne',
 'body spray',
 'napkins',
 'french fries',
 'yogurt cake',
 'cooking oil',
 'pepper',
 'fromage blanc',
 'bug spray',
 'low fat yogurt',
 'brownies',
 'mint green tea',
 'water spray',
 'rice',
 'cauliflower']

In [14]:
# One-hot encode the transactions
encoded_data = pd.DataFrame(0, index=data.index, columns=all_items)
encoded_data.head()

,frozen vegetables,burgers,tea,herb & pepper,avocado,eggplant,almonds,shallot,strawberries,flax seed,...,cooking oil,pepper,fromage blanc,bug spray,low fat yogurt,brownies,mint green tea,water spray,rice,cauliflower
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# unique is refered as 1 and 0 for non unique
for index, items in data['items'].items():
    encoded_data.loc[index, items] = 1
encoded_data

,frozen vegetables,burgers,tea,herb & pepper,avocado,eggplant,almonds,shallot,strawberries,flax seed,...,cooking oil,pepper,fromage blanc,bug spray,low fat yogurt,brownies,mint green tea,water spray,rice,cauliflower
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7496,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

# Association Rule Mining

In [22]:
# Apply the Apriori algorithm
frequent_itemsets = apriori(encoded_data, min_support=0.01, use_colnames=True)
frequent_itemsets

#frequent_itemsets = apriori(encoded_data, min_support=0.01, use_colnames=False)
#frequent_itemsets

C:\Users\HP\AppData\Roaming\Python\Python312\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support                                  itemsets
0    0.095333                       (frozen vegetables)
1    0.087200                                 (burgers)
2    0.049467                           (herb & pepper)
3    0.033200                                 (avocado)
4    0.013200                                (eggplant)
..        ...                                       ...
254  0.014267          (eggs, spaghetti, mineral water)
255  0.010267     (olive oil, spaghetti, mineral water)
256  0.017067   (ground beef, spaghetti, mineral water)
257  0.010133  (french fries, spaghetti, mineral water)
258  0.010133        (ground beef, eggs, mineral water)

[259 rows x 2 columns]

In [23]:
# Generate the association rules
rules1 = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(frozen vegetables),(burgers),0.095333,0.087200,0.010533,0.110490,1.267082,0.002220,1.026182,0.232997
1,(burgers),(frozen vegetables),0.087200,0.095333,0.010533,0.120795,1.267082,0.002220,1.028960,0.230921
2,(frozen vegetables),(green tea),0.095333,0.132000,0.014400,0.151049,1.144310,0.001816,1.022438,0.139401
3,(green tea),(frozen vegetables),0.132000,0.095333,0.014400,0.109091,1.144310,0.001816,1.015442,0.145289
4,(frozen vegetables),(tomatoes),0.095333,0.068400,0.016133,0.169231,2.474134,0.009613,1.121370,0.658605
...,...,...,...,...,...,...,...,...,...,...
403,"(ground beef, mineral water)",(eggs),0.040933,0.179733,0.010133,0.247557,1.377357,0.002776,1.090138,0.285665
404,"(eggs, mineral water)",(ground beef),0.050933,0.098267,0.010133,0.198953,2.024622,0.005128,1.125693,0.533240
405,(ground beef),"(eggs, mineral water)",0.098267,0.050933,0.010133,0.103121,2.024622,0.005128,1.058188,0.561231
406,(eggs),"(ground beef, mineral water)",0.179733,0.040933,0.010133,0.056380,1.377357,0.002776,1.016369,0.334003
407,(mineral water),"(ground beef, eggs)",0.238267,0.020000,0.010133,0.042529,2.126469,0.005368,1.023530,0.695436

In [24]:
rules2 = rules1[["antecedents","consequents","support","confidence","lift"]]
rules2

,antecedents,consequents,support,confidence,lift
0,(frozen vegetables),(burgers),0.010533,0.110490,1.267082
1,(burgers),(frozen vegetables),0.010533,0.120795,1.267082
2,(frozen vegetables),(green tea),0.014400,0.151049,1.144310
3,(green tea),(frozen vegetables),0.014400,0.109091,1.144310
4,(frozen vegetables),(tomatoes),0.016133,0.169231,2.474134
...,...,...,...,...,...
403,"(ground beef, mineral water)",(eggs),0.010133,0.247557,1.377357
404,"(eggs, mineral water)",(ground beef),0.010133,0.198953,2.024622
405,(ground beef),"(eggs, mineral water)",0.010133,0.103121,2.024622
406,(eggs),"(ground beef, mineral water)",0.010133,0.056380,1.377357
407,(mineral water),"(ground beef, eggs)",0.010133,0.042529,2.126469

In [25]:
rules3 = rules2[(rules2["confidence"] >= 0.5) & (rules2["support"] >= 0.01) & (rules2["lift"] >= 1.5)]
rules3

             antecedents      consequents   support  confidence      lift
350  (milk, ground beef)  (mineral water)  0.011067    0.503030  2.111207
402  (ground beef, eggs)  (mineral water)  0.010133    0.506667  2.126469

# Interpretation
#### There are 2 strong association given above after setting the approprate threshold, support and lift.